App/Clinic/WPFClinic/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51534/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51534/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51534/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFClinic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetAllMedicalDepartments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMedicalDepartments" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMedicalDepartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMedicalDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMedicalDepartments_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMedicalDepartments" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMedicalDepartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMedicalDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteMedicalDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMedicalDepartment" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteMedicalDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMedicalDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMedicalDepartmentsDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMedicalDepartmentsDetail" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMedicalDepartmentsDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMedicalDepartmentsDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isMedicalDepartmentID_InputMessage">
    <wsdl:part name="parameters" element="tns:isMedicalDepartmentID" />
  </wsdl:message>
  <wsdl:message name="IService1_isMedicalDepartmentID_OutputMessage">
    <wsdl:part name="parameters" element="tns:isMedicalDepartmentIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMedicalStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMedicalStaff" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMedicalStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMedicalStaffResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMedicalStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMedicalStaff" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMedicalStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMedicalStaffResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteMedicalStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMedicalStaff" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteMedicalStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMedicalStaffResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMedicalStaffsDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMedicalStaffsDetail" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMedicalStaffsDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMedicalStaffsDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isMedicalStaffID_InputMessage">
    <wsdl:part name="parameters" element="tns:isMedicalStaffID" />
  </wsdl:message>
  <wsdl:message name="IService1_isMedicalStaffID_OutputMessage">
    <wsdl:part name="parameters" element="tns:isMedicalStaffIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPatients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPatients" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPatients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPatient" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePatient_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePatient" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePatientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPatientsDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientsDetail" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPatientsDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientsDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isPatientID_InputMessage">
    <wsdl:part name="parameters" element="tns:isPatientID" />
  </wsdl:message>
  <wsdl:message name="IService1_isPatientID_OutputMessage">
    <wsdl:part name="parameters" element="tns:isPatientIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllDoctorAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDoctorAppointment" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllDoctorAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDoctorAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddDoctorAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDoctorAppointment" />
  </wsdl:message>
  <wsdl:message name="IService1_AddDoctorAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDoctorAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteDoctorAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDoctorAppointment" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteDoctorAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDoctorAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDoctorAppointmentsDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDoctorAppointmentsDetail" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDoctorAppointmentsDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDoctorAppointmentsDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isDoctorAppointmentID_InputMessage">
    <wsdl:part name="parameters" element="tns:isDoctorAppointmentID" />
  </wsdl:message>
  <wsdl:message name="IService1_isDoctorAppointmentID_OutputMessage">
    <wsdl:part name="parameters" element="tns:isDoctorAppointmentIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllLogins_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLogins" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllLogins_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLoginsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_AddLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLoginsDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginsDetail" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLoginsDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginsDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isLoginID_InputMessage">
    <wsdl:part name="parameters" element="tns:isLoginID" />
  </wsdl:message>
  <wsdl:message name="IService1_isLoginID_OutputMessage">
    <wsdl:part name="parameters" element="tns:isLoginIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginUserManagement_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserManagement" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginUserManagement_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserManagementResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginUserPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserPatient" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginUserPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginUserMedicalStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserMedicalStaff" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginUserMedicalStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserMedicalStaffResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_maxPatientID_InputMessage">
    <wsdl:part name="parameters" element="tns:maxPatientID" />
  </wsdl:message>
  <wsdl:message name="IService1_maxPatientID_OutputMessage">
    <wsdl:part name="parameters" element="tns:maxPatientIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_maxMedicalStaffID_InputMessage">
    <wsdl:part name="parameters" element="tns:maxMedicalStaffID" />
  </wsdl:message>
  <wsdl:message name="IService1_maxMedicalStaffID_OutputMessage">
    <wsdl:part name="parameters" element="tns:maxMedicalStaffIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_currentPatientID_InputMessage">
    <wsdl:part name="parameters" element="tns:currentPatientID" />
  </wsdl:message>
  <wsdl:message name="IService1_currentPatientID_OutputMessage">
    <wsdl:part name="parameters" element="tns:currentPatientIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_currentMedicalStaffID_InputMessage">
    <wsdl:part name="parameters" element="tns:currentMedicalStaffID" />
  </wsdl:message>
  <wsdl:message name="IService1_currentMedicalStaffID_OutputMessage">
    <wsdl:part name="parameters" element="tns:currentMedicalStaffIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPharmacy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPharmacy" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPharmacy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPharmacyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPharmacy_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPharmacy" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPharmacy_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPharmacyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePharmacy_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePharmacy" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePharmacy_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePharmacyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPharmacyDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPharmacyDetail" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPharmacyDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPharmacyDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isPharmacyID_InputMessage">
    <wsdl:part name="parameters" element="tns:isPharmacyID" />
  </wsdl:message>
  <wsdl:message name="IService1_isPharmacyID_OutputMessage">
    <wsdl:part name="parameters" element="tns:isPharmacyIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTakeMedication_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTakeMedication" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTakeMedication_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTakeMedicationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTakeMedication_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTakeMedication" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTakeMedication_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTakeMedicationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteTakeMedication_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTakeMedication" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteTakeMedication_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTakeMedicationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTakeMedicationDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTakeMedicationDetail" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTakeMedicationDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTakeMedicationDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isTakeMedicationID_InputMessage">
    <wsdl:part name="parameters" element="tns:isTakeMedicationID" />
  </wsdl:message>
  <wsdl:message name="IService1_isTakeMedicationID_OutputMessage">
    <wsdl:part name="parameters" element="tns:isTakeMedicationIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPharmaceuticalManufacturing_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPharmaceuticalManufacturing" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPharmaceuticalManufacturing_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPharmaceuticalManufacturingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPharmaceuticalManufacturing_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPharmaceuticalManufacturing" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPharmaceuticalManufacturing_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPharmaceuticalManufacturingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePharmaceuticalManufacturing_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePharmaceuticalManufacturing" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePharmaceuticalManufacturing_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePharmaceuticalManufacturingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPharmaceuticalManufacturingDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPharmaceuticalManufacturingDetail" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPharmaceuticalManufacturingDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPharmaceuticalManufacturingDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isManufacturerID_InputMessage">
    <wsdl:part name="parameters" element="tns:isManufacturerID" />
  </wsdl:message>
  <wsdl:message name="IService1_isManufacturerID_OutputMessage">
    <wsdl:part name="parameters" element="tns:isManufacturerIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllLoginsCurrent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLoginsCurrent" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllLoginsCurrent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLoginsCurrentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddLoginCurrent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLoginCurrent" />
  </wsdl:message>
  <wsdl:message name="IService1_AddLoginCurrent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLoginCurrentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteLoginCurrent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLoginCurrent" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteLoginCurrent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLoginCurrentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLoginsCurrentDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginsCurrentDetail" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLoginsCurrentDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginsCurrentDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isLoginCurrentID_InputMessage">
    <wsdl:part name="parameters" element="tns:isLoginCurrentID" />
  </wsdl:message>
  <wsdl:message name="IService1_isLoginCurrentID_OutputMessage">
    <wsdl:part name="parameters" element="tns:isLoginCurrentIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_maxCurrentPatientID_InputMessage">
    <wsdl:part name="parameters" element="tns:maxCurrentPatientID" />
  </wsdl:message>
  <wsdl:message name="IService1_maxCurrentPatientID_OutputMessage">
    <wsdl:part name="parameters" element="tns:maxCurrentPatientIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_maxCurrentMedicalStaffID_InputMessage">
    <wsdl:part name="parameters" element="tns:maxCurrentMedicalStaffID" />
  </wsdl:message>
  <wsdl:message name="IService1_maxCurrentMedicalStaffID_OutputMessage">
    <wsdl:part name="parameters" element="tns:maxCurrentMedicalStaffIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetAllMedicalDepartments">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllMedicalDepartments" message="tns:IService1_GetAllMedicalDepartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllMedicalDepartmentsResponse" message="tns:IService1_GetAllMedicalDepartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMedicalDepartments">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddMedicalDepartments" message="tns:IService1_AddMedicalDepartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddMedicalDepartmentsResponse" message="tns:IService1_AddMedicalDepartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMedicalDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteMedicalDepartment" message="tns:IService1_DeleteMedicalDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteMedicalDepartmentResponse" message="tns:IService1_DeleteMedicalDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMedicalDepartmentsDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMedicalDepartmentsDetail" message="tns:IService1_GetMedicalDepartmentsDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMedicalDepartmentsDetailResponse" message="tns:IService1_GetMedicalDepartmentsDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isMedicalDepartmentID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isMedicalDepartmentID" message="tns:IService1_isMedicalDepartmentID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isMedicalDepartmentIDResponse" message="tns:IService1_isMedicalDepartmentID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMedicalStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllMedicalStaff" message="tns:IService1_GetAllMedicalStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllMedicalStaffResponse" message="tns:IService1_GetAllMedicalStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMedicalStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddMedicalStaff" message="tns:IService1_AddMedicalStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddMedicalStaffResponse" message="tns:IService1_AddMedicalStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMedicalStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteMedicalStaff" message="tns:IService1_DeleteMedicalStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteMedicalStaffResponse" message="tns:IService1_DeleteMedicalStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMedicalStaffsDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMedicalStaffsDetail" message="tns:IService1_GetMedicalStaffsDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMedicalStaffsDetailResponse" message="tns:IService1_GetMedicalStaffsDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isMedicalStaffID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isMedicalStaffID" message="tns:IService1_isMedicalStaffID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isMedicalStaffIDResponse" message="tns:IService1_isMedicalStaffID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPatients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllPatients" message="tns:IService1_GetAllPatients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllPatientsResponse" message="tns:IService1_GetAllPatients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddPatient" message="tns:IService1_AddPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddPatientResponse" message="tns:IService1_AddPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeletePatient" message="tns:IService1_DeletePatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeletePatientResponse" message="tns:IService1_DeletePatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientsDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPatientsDetail" message="tns:IService1_GetPatientsDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPatientsDetailResponse" message="tns:IService1_GetPatientsDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isPatientID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isPatientID" message="tns:IService1_isPatientID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isPatientIDResponse" message="tns:IService1_isPatientID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDoctorAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllDoctorAppointment" message="tns:IService1_GetAllDoctorAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllDoctorAppointmentResponse" message="tns:IService1_GetAllDoctorAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDoctorAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddDoctorAppointment" message="tns:IService1_AddDoctorAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddDoctorAppointmentResponse" message="tns:IService1_AddDoctorAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDoctorAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteDoctorAppointment" message="tns:IService1_DeleteDoctorAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteDoctorAppointmentResponse" message="tns:IService1_DeleteDoctorAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDoctorAppointmentsDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDoctorAppointmentsDetail" message="tns:IService1_GetDoctorAppointmentsDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDoctorAppointmentsDetailResponse" message="tns:IService1_GetDoctorAppointmentsDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isDoctorAppointmentID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isDoctorAppointmentID" message="tns:IService1_isDoctorAppointmentID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isDoctorAppointmentIDResponse" message="tns:IService1_isDoctorAppointmentID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLogins">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllLogins" message="tns:IService1_GetAllLogins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllLoginsResponse" message="tns:IService1_GetAllLogins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddLogin" message="tns:IService1_AddLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddLoginResponse" message="tns:IService1_AddLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteLogin" message="tns:IService1_DeleteLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteLoginResponse" message="tns:IService1_DeleteLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginsDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLoginsDetail" message="tns:IService1_GetLoginsDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLoginsDetailResponse" message="tns:IService1_GetLoginsDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isLoginID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isLoginID" message="tns:IService1_isLoginID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isLoginIDResponse" message="tns:IService1_isLoginID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUserManagement">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoginUserManagement" message="tns:IService1_LoginUserManagement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginUserManagementResponse" message="tns:IService1_LoginUserManagement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUserPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoginUserPatient" message="tns:IService1_LoginUserPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginUserPatientResponse" message="tns:IService1_LoginUserPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUserMedicalStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoginUserMedicalStaff" message="tns:IService1_LoginUserMedicalStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginUserMedicalStaffResponse" message="tns:IService1_LoginUserMedicalStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="maxPatientID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/maxPatientID" message="tns:IService1_maxPatientID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/maxPatientIDResponse" message="tns:IService1_maxPatientID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="maxMedicalStaffID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/maxMedicalStaffID" message="tns:IService1_maxMedicalStaffID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/maxMedicalStaffIDResponse" message="tns:IService1_maxMedicalStaffID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="currentPatientID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/currentPatientID" message="tns:IService1_currentPatientID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/currentPatientIDResponse" message="tns:IService1_currentPatientID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="currentMedicalStaffID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/currentMedicalStaffID" message="tns:IService1_currentMedicalStaffID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/currentMedicalStaffIDResponse" message="tns:IService1_currentMedicalStaffID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPharmacy">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllPharmacy" message="tns:IService1_GetAllPharmacy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllPharmacyResponse" message="tns:IService1_GetAllPharmacy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPharmacy">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddPharmacy" message="tns:IService1_AddPharmacy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddPharmacyResponse" message="tns:IService1_AddPharmacy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePharmacy">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeletePharmacy" message="tns:IService1_DeletePharmacy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeletePharmacyResponse" message="tns:IService1_DeletePharmacy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPharmacyDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPharmacyDetail" message="tns:IService1_GetPharmacyDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPharmacyDetailResponse" message="tns:IService1_GetPharmacyDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isPharmacyID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isPharmacyID" message="tns:IService1_isPharmacyID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isPharmacyIDResponse" message="tns:IService1_isPharmacyID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTakeMedication">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllTakeMedication" message="tns:IService1_GetAllTakeMedication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllTakeMedicationResponse" message="tns:IService1_GetAllTakeMedication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTakeMedication">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddTakeMedication" message="tns:IService1_AddTakeMedication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddTakeMedicationResponse" message="tns:IService1_AddTakeMedication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTakeMedication">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteTakeMedication" message="tns:IService1_DeleteTakeMedication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteTakeMedicationResponse" message="tns:IService1_DeleteTakeMedication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTakeMedicationDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTakeMedicationDetail" message="tns:IService1_GetTakeMedicationDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTakeMedicationDetailResponse" message="tns:IService1_GetTakeMedicationDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isTakeMedicationID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isTakeMedicationID" message="tns:IService1_isTakeMedicationID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isTakeMedicationIDResponse" message="tns:IService1_isTakeMedicationID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPharmaceuticalManufacturing">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllPharmaceuticalManufacturing" message="tns:IService1_GetAllPharmaceuticalManufacturing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllPharmaceuticalManufacturingResponse" message="tns:IService1_GetAllPharmaceuticalManufacturing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPharmaceuticalManufacturing">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddPharmaceuticalManufacturing" message="tns:IService1_AddPharmaceuticalManufacturing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddPharmaceuticalManufacturingResponse" message="tns:IService1_AddPharmaceuticalManufacturing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePharmaceuticalManufacturing">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeletePharmaceuticalManufacturing" message="tns:IService1_DeletePharmaceuticalManufacturing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeletePharmaceuticalManufacturingResponse" message="tns:IService1_DeletePharmaceuticalManufacturing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPharmaceuticalManufacturingDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPharmaceuticalManufacturingDetail" message="tns:IService1_GetPharmaceuticalManufacturingDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPharmaceuticalManufacturingDetailResponse" message="tns:IService1_GetPharmaceuticalManufacturingDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isManufacturerID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isManufacturerID" message="tns:IService1_isManufacturerID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isManufacturerIDResponse" message="tns:IService1_isManufacturerID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLoginsCurrent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllLoginsCurrent" message="tns:IService1_GetAllLoginsCurrent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllLoginsCurrentResponse" message="tns:IService1_GetAllLoginsCurrent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLoginCurrent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddLoginCurrent" message="tns:IService1_AddLoginCurrent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddLoginCurrentResponse" message="tns:IService1_AddLoginCurrent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLoginCurrent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteLoginCurrent" message="tns:IService1_DeleteLoginCurrent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteLoginCurrentResponse" message="tns:IService1_DeleteLoginCurrent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginsCurrentDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLoginsCurrentDetail" message="tns:IService1_GetLoginsCurrentDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLoginsCurrentDetailResponse" message="tns:IService1_GetLoginsCurrentDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isLoginCurrentID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isLoginCurrentID" message="tns:IService1_isLoginCurrentID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isLoginCurrentIDResponse" message="tns:IService1_isLoginCurrentID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="maxCurrentPatientID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/maxCurrentPatientID" message="tns:IService1_maxCurrentPatientID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/maxCurrentPatientIDResponse" message="tns:IService1_maxCurrentPatientID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="maxCurrentMedicalStaffID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/maxCurrentMedicalStaffID" message="tns:IService1_maxCurrentMedicalStaffID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/maxCurrentMedicalStaffIDResponse" message="tns:IService1_maxCurrentMedicalStaffID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMedicalDepartments">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllMedicalDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMedicalDepartments">
      <soap:operation soapAction="http://tempuri.org/IService1/AddMedicalDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMedicalDepartment">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteMedicalDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedicalDepartmentsDetail">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMedicalDepartmentsDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isMedicalDepartmentID">
      <soap:operation soapAction="http://tempuri.org/IService1/isMedicalDepartmentID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMedicalStaff">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllMedicalStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMedicalStaff">
      <soap:operation soapAction="http://tempuri.org/IService1/AddMedicalStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMedicalStaff">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteMedicalStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedicalStaffsDetail">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMedicalStaffsDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isMedicalStaffID">
      <soap:operation soapAction="http://tempuri.org/IService1/isMedicalStaffID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPatients">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPatient">
      <soap:operation soapAction="http://tempuri.org/IService1/AddPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePatient">
      <soap:operation soapAction="http://tempuri.org/IService1/DeletePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientsDetail">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPatientsDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isPatientID">
      <soap:operation soapAction="http://tempuri.org/IService1/isPatientID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDoctorAppointment">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllDoctorAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDoctorAppointment">
      <soap:operation soapAction="http://tempuri.org/IService1/AddDoctorAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDoctorAppointment">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteDoctorAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoctorAppointmentsDetail">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDoctorAppointmentsDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isDoctorAppointmentID">
      <soap:operation soapAction="http://tempuri.org/IService1/isDoctorAppointmentID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLogins">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllLogins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/AddLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginsDetail">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLoginsDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isLoginID">
      <soap:operation soapAction="http://tempuri.org/IService1/isLoginID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUserManagement">
      <soap:operation soapAction="http://tempuri.org/IService1/LoginUserManagement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUserPatient">
      <soap:operation soapAction="http://tempuri.org/IService1/LoginUserPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUserMedicalStaff">
      <soap:operation soapAction="http://tempuri.org/IService1/LoginUserMedicalStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="maxPatientID">
      <soap:operation soapAction="http://tempuri.org/IService1/maxPatientID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="maxMedicalStaffID">
      <soap:operation soapAction="http://tempuri.org/IService1/maxMedicalStaffID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="currentPatientID">
      <soap:operation soapAction="http://tempuri.org/IService1/currentPatientID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="currentMedicalStaffID">
      <soap:operation soapAction="http://tempuri.org/IService1/currentMedicalStaffID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPharmacy">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllPharmacy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPharmacy">
      <soap:operation soapAction="http://tempuri.org/IService1/AddPharmacy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePharmacy">
      <soap:operation soapAction="http://tempuri.org/IService1/DeletePharmacy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPharmacyDetail">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPharmacyDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isPharmacyID">
      <soap:operation soapAction="http://tempuri.org/IService1/isPharmacyID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTakeMedication">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllTakeMedication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTakeMedication">
      <soap:operation soapAction="http://tempuri.org/IService1/AddTakeMedication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTakeMedication">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteTakeMedication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTakeMedicationDetail">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTakeMedicationDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isTakeMedicationID">
      <soap:operation soapAction="http://tempuri.org/IService1/isTakeMedicationID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPharmaceuticalManufacturing">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllPharmaceuticalManufacturing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPharmaceuticalManufacturing">
      <soap:operation soapAction="http://tempuri.org/IService1/AddPharmaceuticalManufacturing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePharmaceuticalManufacturing">
      <soap:operation soapAction="http://tempuri.org/IService1/DeletePharmaceuticalManufacturing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPharmaceuticalManufacturingDetail">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPharmaceuticalManufacturingDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isManufacturerID">
      <soap:operation soapAction="http://tempuri.org/IService1/isManufacturerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLoginsCurrent">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllLoginsCurrent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLoginCurrent">
      <soap:operation soapAction="http://tempuri.org/IService1/AddLoginCurrent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLoginCurrent">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteLoginCurrent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginsCurrentDetail">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLoginsCurrentDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isLoginCurrentID">
      <soap:operation soapAction="http://tempuri.org/IService1/isLoginCurrentID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="maxCurrentPatientID">
      <soap:operation soapAction="http://tempuri.org/IService1/maxCurrentPatientID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="maxCurrentMedicalStaffID">
      <soap:operation soapAction="http://tempuri.org/IService1/maxCurrentMedicalStaffID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:51534/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>