App/Clinic/WPFClinic/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51534/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFClinic" />
  <xs:element name="GetAllMedicalDepartments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMedicalDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="GetAllMedicalDepartmentsResult" nillable="true" type="q1:ArrayOfvwMedicalDepartments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMedicalDepartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="medicalDepartment" nillable="true" type="q2:vwMedicalDepartments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMedicalDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="AddMedicalDepartmentsResult" nillable="true" type="q3:vwMedicalDepartments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMedicalDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="medicalDepartmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMedicalDepartmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMedicalDepartmentsDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="medicalDepartmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMedicalDepartmentsDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="GetMedicalDepartmentsDetailResult" nillable="true" type="q4:ArrayOfvwMedicalDepartments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isMedicalDepartmentID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="medicalDepartmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isMedicalDepartmentIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isMedicalDepartmentIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMedicalStaff">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMedicalStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="GetAllMedicalStaffResult" nillable="true" type="q5:ArrayOfvwMedicalStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMedicalStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="medicalStaff" nillable="true" type="q6:vwMedicalStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMedicalStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="AddMedicalStaffResult" nillable="true" type="q7:vwMedicalStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMedicalStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="medicalStaffID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMedicalStaffResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMedicalStaffsDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="medicalStaffID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMedicalStaffsDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="GetMedicalStaffsDetailResult" nillable="true" type="q8:ArrayOfvwMedicalStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isMedicalStaffID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="medicalStaffID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isMedicalStaffIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isMedicalStaffIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPatients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPatientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="GetAllPatientsResult" nillable="true" type="q9:ArrayOfvwPatients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="patient" nillable="true" type="q10:vwPatients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="AddPatientResult" nillable="true" type="q11:vwPatients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePatientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientsDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientsDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="GetPatientsDetailResult" nillable="true" type="q12:ArrayOfvwPatients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isPatientID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isPatientIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isPatientIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDoctorAppointment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDoctorAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="GetAllDoctorAppointmentResult" nillable="true" type="q13:ArrayOfvwDoctorAppointment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDoctorAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="appointment" nillable="true" type="q14:vwDoctorAppointment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDoctorAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="AddDoctorAppointmentResult" nillable="true" type="q15:vwDoctorAppointment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDoctorAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doctorAppointmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDoctorAppointmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorAppointmentsDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doctorAppointmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorAppointmentsDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="GetDoctorAppointmentsDetailResult" nillable="true" type="q16:ArrayOfvwDoctorAppointment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isDoctorAppointmentID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doctorAppointmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isDoctorAppointmentIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isDoctorAppointmentIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLogins">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLoginsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="GetAllLoginsResult" nillable="true" type="q17:ArrayOfvwLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="login" nillable="true" type="q18:vwLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="AddLoginResult" nillable="true" type="q19:vwLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginsDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginsDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="GetLoginsDetailResult" nillable="true" type="q20:ArrayOfvwLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isLoginID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isLoginIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isLoginIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUserManagement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUserManagementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginUserManagementResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUserPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUserPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginUserPatientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUserMedicalStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUserMedicalStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginUserMedicalStaffResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="maxPatientID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="maxPatientIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maxPatientIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="maxMedicalStaffID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="maxMedicalStaffIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maxMedicalStaffIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="currentPatientID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="currentPatientIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentPatientIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="currentMedicalStaffID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="currentMedicalStaffIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentMedicalStaffIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPharmacy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPharmacyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="GetAllPharmacyResult" nillable="true" type="q21:ArrayOfvwPharmacy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPharmacy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="pharmacy" nillable="true" type="q22:vwPharmacy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPharmacyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="AddPharmacyResult" nillable="true" type="q23:vwPharmacy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePharmacy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pharmacyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePharmacyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPharmacyDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pharmacyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPharmacyDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="GetPharmacyDetailResult" nillable="true" type="q24:ArrayOfvwPharmacy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isPharmacyID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pharmacyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isPharmacyIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isPharmacyIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTakeMedication">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTakeMedicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="GetAllTakeMedicationResult" nillable="true" type="q25:ArrayOfvwTakeMedication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTakeMedication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="takeMedication" nillable="true" type="q26:vwTakeMedication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTakeMedicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="AddTakeMedicationResult" nillable="true" type="q27:vwTakeMedication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTakeMedication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="takeMedicationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTakeMedicationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTakeMedicationDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="takeMedicationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTakeMedicationDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="GetTakeMedicationDetailResult" nillable="true" type="q28:ArrayOfvwTakeMedication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isTakeMedicationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="takeMedicationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isTakeMedicationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isTakeMedicationIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPharmaceuticalManufacturing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPharmaceuticalManufacturingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="GetAllPharmaceuticalManufacturingResult" nillable="true" type="q29:ArrayOfvwPharmaceuticalManufacturing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPharmaceuticalManufacturing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="pharmaceuticalManufacturing" nillable="true" type="q30:vwPharmaceuticalManufacturing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPharmaceuticalManufacturingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="AddPharmaceuticalManufacturingResult" nillable="true" type="q31:vwPharmaceuticalManufacturing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePharmaceuticalManufacturing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="manufacturerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePharmaceuticalManufacturingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPharmaceuticalManufacturingDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="manufacturerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPharmaceuticalManufacturingDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="GetPharmaceuticalManufacturingDetailResult" nillable="true" type="q32:ArrayOfvwPharmaceuticalManufacturing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isManufacturerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="manufacurerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isManufacturerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isManufacturerIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLoginsCurrent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLoginsCurrentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="GetAllLoginsCurrentResult" nillable="true" type="q33:ArrayOfvwLoginCurrent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLoginCurrent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="loginCurrent" nillable="true" type="q34:vwLoginCurrent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLoginCurrentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="AddLoginCurrentResult" nillable="true" type="q35:vwLoginCurrent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLoginCurrent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginCurrentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLoginCurrentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginsCurrentDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginCurrentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginsCurrentDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="GetLoginsCurrentDetailResult" nillable="true" type="q36:ArrayOfvwLoginCurrent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isLoginCurrentID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginCurrentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isLoginCurrentIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isLoginCurrentIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="maxCurrentPatientID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="maxCurrentPatientIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maxCurrentPatientIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="maxCurrentMedicalStaffID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="maxCurrentMedicalStaffIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maxCurrentMedicalStaffIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="composite" nillable="true" type="q37:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/WCFClinic" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q38:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>